@charset "utf-8";
/* CSS Document */

#alphabet-container {
	display:inline;
	margin: 0px 0px 0px 0px !important;
}
#alphabet-main {
}
.alphabet-column {
	float:  left;
	margin-right:  0,5em;
	width: 25%;
}
.alphabet{
	list-style: none;
	padding: 3px 0px 0px 3px !important;
	margin: 0px 0px 20px 15px !important;
}
.alphabet-capital{
	float: left;
	margin: 0px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.25em;
}
.alphabet-item {
	font-size: 0.9em;
	margin: 0px 0px 0px 5px;
}

.clear {
	clear: both;
}